.todo{
    background-color: rgb(243 241 244);
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.todo:hover i{
    display: block!important;
}

p{
    padding: 10px 15px;
    font-size: 18px;
}

i{
    padding: 12px 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgb(230 77 61);
    height: 100%;
    cursor: pointer;
    display: none!important;
    transition: all .5s linear!important;
}

i:active{
    background-color: green;
}