#todoMain{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#todoMain div{
    background-color: rgb(243 241 244);
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#todoMain div:hover img{
    display: block!important;
}

p{
    padding: 10px 15px;
    font-size: 18px;
}

img{
    padding: 9px 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    display: none!important;
    transition: all .5s linear!important;
    background-color: rgb(231 76 61);
    width: 50px;
    position: absolute;
    right: 0px;
    z-index: 100;
    border: 1px solid red;
}


img:active{
    background-color: green;
}
